* {
  background-color: black;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  flex-direction: row;
}
.locationContainer {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.location {
  font-family: "Prata", serif;
  color: white;
  font-size: 4rem;
  border: none;
}
.location:focus {
  outline: none;
}
.locationDetails{
  color: white;
  font-family: "Prata", serif;
  font-size: 2rem;
}
.search{
  color: white;
}
.coordinates {
  color: white;
  font-family: "Lato", serif;
  font-size: 1rem;
  border: none;
  margin: 1rem 0rem 0rem 0rem;
  z-index: 10;
}
.coordinates:focus {
  outline: none;
}
.temperatureContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
  padding: 1rem 1rem 0.5rem 1rem;
  text-align: right;
}
.temperature {
  font-size: 6rem;
  font-family: "Prata", serif;
}
.sunnyIcon {
  font-size: 5rem !important;
  font-variation-settings:
    "opsz" 48,
    "FILL" 1;
  vertical-align: -0.1rem;

}
.date,
.day {
  padding: 0 0 0 0;
  font-family: "Lato";
  font-size: 1rem;
}
.additional {
  color: white;
  text-align: right;
  font-family: "Lato", serif;
  padding: 0rem 1rem 0rem 1rem;
  margin-top: -2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.8rem;
  position: absolute; 
  top: 12rem;
  right: 0.5rem; 
}

.location::placeholder{
  color: #303030;
}
.dateContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 6px;            
}

.date, .day {
  margin: 0;             
  padding: 0.5rem 0 0 0;
  color: white;
}

.day {
  font-size: 1.2rem;
}

.date {
  font-size: 1rem;
}
